$negative-color: #D90719;
$neutral-color: #D4AB27;
$positive-color: #46AB3B;

* {
    --negative-color: #{$negative-color};
    --neutral-color: #{$neutral-color};
    --positive-color: #{$positive-color};
}
