@font-face {
    font-display: swap;
    font-family: 'Avenir-Primary-HMH-Math';
    src: url('/fonts/avenir/80534fed-60ef-4bc2-9aa7-a8d359b5116c.eot?#iefix');
    src: url('/fonts/avenir/80534fed-60ef-4bc2-9aa7-a8d359b5116c.eot?#iefix') format('eot'),
        url('/fonts/avenir/6398ed27-3c28-4cf6-baf8-3ba3ef048cb8.woff2') format('woff2'),
        url('/fonts/avenir/721cf818-9b94-4b4b-9260-08ae9106dea5.woff') format('woff'),
        url('/fonts/avenir/d62f2053-27c7-44e7-a2ef-351d4554105d.ttf') format('truetype'),
        url('/fonts/avenir/fd1996b6-3705-49fe-8dd1-e6207106a285.svg#fd1996b6-3705-49fe-8dd1-e6207106a285') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Frutiger-LT-W01_55-Roma1475738';
    src: url('/fonts/frutiger/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix');
    src: url('/fonts/frutiger/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix') format('eot'),
        url('/fonts/frutiger/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2') format('woff2'),
        url('/fonts/frutiger/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff') format('woff'),
        url('/fonts/frutiger/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf') format('truetype'),
        url('/fonts/frutiger/7def0e34-f28d-434f-b2ec-472bde847115.svg#7def0e34-f28d-434f-b2ec-472bde847115') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'HMHPrimaryDisplay';
    src: url('/fonts/hmh-primary-display/3577fa89-f071-4141-abe9-3811610dedb5.eot?#iefix');
    src: url('/fonts/hmh-primary-display/3577fa89-f071-4141-abe9-3811610dedb5.eot?#iefix') format('eot'),
        url('/fonts/hmh-primary-display/235e9242-b05f-43e8-b718-66bdee3f2958.woff') format('woff'),
        url('/fonts/hmh-primary-display/4e98f3aa-fe93-43af-8ec4-913dc941f12f.ttf') format('truetype'),
        url('/fonts/hmh-primary-display/be982e5b-e432-4499-8d88-d35c1becd8ae.svg#be982e5b-e432-4499-8d88-d35c1becd8ae') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'ITCZemkeHandW01-Regular';
    src: url('/fonts/itc-zemke-hand/841bfa24-3407-4d59-b38b-33b07b967d7d.eot?#iefix');
    src: url('/fonts/itc-zemke-hand/841bfa24-3407-4d59-b38b-33b07b967d7d.eot?#iefix') format('eot'),
        url('/fonts/itc-zemke-hand/511c1da0-be12-432d-ad5e-22ca9cd2067b.woff2') format('woff2'),
        url('/fonts/itc-zemke-hand/c6f3a675-53db-4618-a50e-762cff33b4b4.woff') format('woff'),
        url('/fonts/itc-zemke-hand/fc9b2162-e8d4-4b68-bdce-e116128007bf.ttf') format('truetype'),
        url('/fonts/itc-zemke-hand/8c06d887-06d2-4bc3-bc7c-c505d91d207e.svg#8c06d887-06d2-4bc3-bc7c-c505d91d207e') format('svg');
}

$font-family: 'Avenir-Primary-HMH-Math', 'Avenir', sans-serif;
$font-size: 18px;

* {
    --font-family: #{$font-family};
    --font-size: #{$font-size};
}
