@import "_font";

h1 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}
