@import "partials/font";
@import "partials/headings";
@import "partials/paragraphs";

[slot] {
    display: none;
}

#template {
    font-family: $font-family;
    font-size: $font-size;
    background-color: lightblue;
}

#mcq {
    --align-options: column;
}
