<drag-drop id="animals">
    <p>Associate each animal with its name.</p>


    <article id="drop-zone">
        <section>
            <img src="/images/monkey.svg" alt="monkey" />
            <drop-container id="container1" max-items="1">
            </drop-container>
        </section>
        <section>
            <img src="/images/mouse.svg" alt="mouse" />
            <drop-container id="container2" max-items="1">
            </drop-container>
        </section>
        <section>
            <img src="/images/frog.svg" alt="frog" />
            <drop-container id="container3" max-items="1">
            </drop-container>
        </section>
    </article>
    
    <drag-container>
        <div slot="options" id="monkey">Monkey</div>
        <div slot="options" id="frog">Frog</div>
        <div slot="options" id="mous">Mouse</div>
    </drag-container>
</drag-drop>